.background {
    @include media-breakpoint-up(lg) {
        height: 100vh;
    }
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    background-repeat: no-repeat;
}

.hero {
    color: #fff;

    &__headline {
        @include media-breakpoint-up(lg) {

        }
    }

    &__subhead {
        font-weight: 400;
    }

    &__img {
        bottom: 100px;
        transform: translateX(-30px);
    }
}

