

.hero {
    color: #fff;
    height: 100vh;
    @include media-breakpoint-up(lg) {
        height: 80vh;
    }
    &__image {
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__headline {
        @include media-breakpoint-up(lg) {

        }
    }

    &__subhead {
        font-weight: 400;
    }
}

